<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ResourceProvider" value="Controls.ResourceManager.DBResourceProvider, Controls.ResourceManager"/>
    <add key="DataProvider" value="Controls.Data.SqlCEDataProvider, Controls.Data"/>
    <add key="ConnectionString" value="Data Source=E:\STARTEAM\SiteController\UI.Web\Site\db\Resources.sdf"/>
  </appSettings>
</configuration>